{
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "printWidth": 80,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
