<nav
  class="flex flex-initial justify-center sm:justify-between items-center px-6 py-4 sm:py-12"
>
  <a href="/" class="no-underline text-opacity-90">
    <img src="/oktana-logo.svg" alt="logo" class="w-32 sm:w-70" />
  </a>
</nav>
