---
import Layout from '../layouts/Layout.astro';
import NavigationBar from '../components/NavigationBar.astro';
import MainContainer from '../components/MainContainer.astro';
import HeroHighlight from '../components/HeroHighlight.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Oktana">
  <MainContainer>
    <NavigationBar />
    <div class="flex flex-auto flex-col justify-around">
      <div class="flex justify-center sm:justify-end px-6 py-0">
        <p
          class="text-base/6 sm:text-lg/7 md:text-xl/8 text-center sm:text-right m-0 text-black/55 font-extralight max-w-[600px]"
        >
          We are a small, democratically-governed collective specialized in
          building software products. We aspire to be one of those spaces where
          autonomous people organize themselves and care for each other, commons
          are built and a higher level of sharing is reached.
        </p>
      </div>
      <div class="flex mx-6 my-0 justify-center sm:justify-start">
        <HeroHighlight normal="Utopian" highlight="R&D Collective" />
      </div>
    </div>
    <Footer />
  </MainContainer>
</Layout>
