---
import { Image } from 'astro:assets';
import githubIcon from '../assets/icons/fa-github.svg';
---

<footer class="flex flex-initial h-22 justify-center items-center px-6 py-4">
  <a href="https://github.com/oktana-coop/">
    <Image src={githubIcon} alt="GitHub" height="24" />
  </a>
</footer>

<style>
  footer a,
  footer a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
</style>
