<nav
  class="flex flex-initial justify-center sm:justify-between items-center px-6 py-4 sm:py-12"
>
  <a href="/">
    <img src="/oktana-logo.svg" alt="logo" class="w-32 sm:w-70" />
  </a>
</nav>

<style>
  nav a,
  nav a:visited {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
</style>
