---
import { type Post, getDisplayDate } from '../../models/post';
import DocumentStatusBadge from '../../components/DocumentStatusBadge.astro';

interface Props {
  post: Post;
  isFeatured: boolean;
}

const { post, isFeatured } = Astro.props;
---

<div class="flex flex-col items-center sm:items-start gap-2">
  <div class="flex items-center gap-3">
    <p class="text-xs md:text-sm text-black/75">
      {getDisplayDate(post)}
    </p>
    {post.status === 'draft' && <DocumentStatusBadge text="Draft" />}
  </div>

  <a href=`/blog/${post.slug}`
    ><h3
      class={isFeatured
        ? 'text-xl sm:text-2xl md:text-3xl text-center sm:text-left font-serif font-bold'
        : 'text-lg md:text-[1.375rem] text-center sm:text-left font-serif font-bold'}
    >
      {post.title}
    </h3></a
  >
  <p
    class={isFeatured
      ? 'text-base/7 md:text-lg/8 text-justify text-black font-light'
      : 'text-sm/6 text-black text-justify font-light'}
  >
    {post.description}
  </p>
</div>
