---
interface Props {
  normal: string;
  highlight: string;
}

const { normal, highlight } = Astro.props;
---

<h1
  class="text-3xl sm:text-5xl md:text-7xl font-serif font-normal leading-none text-center sm:text-left mb:8 sm:mb-16"
>
  {normal}<br /><strong class="font-bold">{highlight}</strong>
</h1>
